*{
   box-sizing: border-box; 
}
body {
    background-color: #1F2937;
    font-family: "Verdana",sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-around;
}

.header img {
    width: 220px;
}
.header ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 30px;
}

a {
    color:white;
    text-decoration: none;
}

.main_body {
    width:100%;
    flex: 1;
    display:flex;
    flex-direction: column;
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 50px;
    padding: 50px;
}

.one_text {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    font-weight: bold;
    font-size: 20px;
}
.one p {
    font-size: 16px;
    font-weight: normal;
}
.img_box{
    background-color: gray;
    width: 300px;
    padding: 50px;
    text-align: center;
}

.two {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.two h4 {
    font-size: 36px;
    font-weight: 900;
    margin: 0;
}

.frame {
    border: 3px solid lightblue;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 50px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.three {
    background-color: lightgrey;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    font-size: 20px;
    font-style: italic;
}

.three_top {
    width:80%;
    text-align: center;
}
.three_btm {
    width:80%;
    text-align: right;
    font-weight: bold;
}

.four {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.four_box{
    background-color: lightblue;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    color: white;
}

.f_head {
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.f_text {
    padding: 0;
    margin: 0;
    font-size: 16px;
}
.footer {
    color: white;
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: white;
    border: none;
    background-color: rgb(39, 104, 126);
    padding: 8px 20px;
    border-radius: 10px;
}